.tooltip {
  display: inherit;
}
.tooltip-wrapper {
  animation: fadingIn 0.2s ease-in-out;
  &.closing {
    animation: fadingOut 0.2s ease-in-out;
  }
}
.tooltip-content {
  position: absolute;
  border: 1px solid black;
  padding: 8px 12px;
  background: white;
  box-sizing: border-box;
  // overflow: auto;
  // text-overflow: ellipsis;
  // white-space: nowrap;
}
.arrow {
  position: absolute;
  display: block;
  background: white;
  border: solid black;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  transform-origin: top left;

  &--bottom {
    border-top-width: 1px;
    border-left-width: 1px;
  }

  &--top {
    border-bottom-width: 1px;
    border-right-width: 1px;
  }

  &--right {
    border-bottom-width: 1px;
    border-left-width: 1px;
  }

  &--left {
    border-right-width: 1px;
    border-top-width: 1px;
  }
}

@keyframes fadingIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadingOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
