.fukku-tooltip {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  animation: fadingIn 0.2s ease-in-out;

  &--closing {
    opacity: 0;
  }

  &--opening {
    opacity: 1;
  }
}

.fukku-tooltip-content {
  position: absolute;
  box-sizing: border-box;
  padding: 8px 12px;
  background: white;
  border: 1px solid black;
}

.fukku-tooltip-arrow {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  background: white;
  border: solid black;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  transform: rotate(45deg);
  transform-origin: top left;

  &--bottom {
    border-top-width: 1px;
    border-left-width: 1px;
  }

  &--top {
    border-right-width: 1px;
    border-bottom-width: 1px;
  }

  &--right {
    border-bottom-width: 1px;
    border-left-width: 1px;
  }

  &--left {
    border-top-width: 1px;
    border-right-width: 1px;
  }
}

@keyframes fadingIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
