.tooltip{
    .tooltip-element{
        display: inline-block;
        cursor: default;
    }
    .tooltip-wrapper{
        position: absolute;
        border: 1px solid black;
        padding: 8px 12px;
        background: white;
        min-width: 150px;
    }
    .arrow{
        position: absolute;
        display: block;
        background: white;
        transform: rotate(45deg);
        border:solid black;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-width: 1px;
        border-left-width: 1px;
        box-sizing: border-box;
        width: 7.78px;
        height: 7.78px;
        // bottom: -11px;
        // margin: auto;
        // left: 0;
        // right: 0;
    }
}
